.foodType {
    text-underline-offset: 4px;
}

.foodType-active {
    border-color: #0036C7;
}

.footOptionContainer:last-child {
    padding-bottom: 60px;
}

.foodOption:first-of-type {
    padding-top: 12px;
}

.discountText {
    color: #0036C7;
}